.h5p-goals-assessment-page {
  padding: 0.5em 1em;
}

/* -------------------------------------- Goal Assessment Header --------------------- */
.h5p-goals-assessment-page .goals-assessment-help-text {
  float: right;
  color: #85B1E3;
  cursor: pointer;
  font-size: 0.8em;
}

/* Goals assessment view*/
.h5p-goals-assessment-page .goals-assessment-view {
  text-align: center;
  height: 75%;
  overflow: auto;
}

.h5p-goals-assessment-page .goals-assessment-title {
  height: 10%;
  padding: 0.25em 0;
  border-bottom: 1px solid #E5E5E5;
}

.h5p-goals-assessment-page .goals-assessment-description {
  height: 15%;
}

/* Goals counter */
.h5p-goals-assessment-page .goals-assessment-view .assessment-counter {
}

/* Current goal */
.h5p-goals-assessment-page .goals-assessment-view .assessment-counter span.goal-current {
  padding: 0em 0.3em;
}

/* Counter delimiter */
.h5p-goals-assessment-page .goals-assessment-view .assessment-counter span.goal-delimiter:before {
  content: "/";
}

/* Max goal */
.h5p-goals-assessment-page .goals-assessment-view .assessment-counter span.goal-max {
  padding: 0em 0.3em;
}

/* Goal text */
.h5p-goals-assessment-page .goals-assessment-view .assessment-goal {
  padding: 1.5em 0em;
}

/* Rating container */
.h5p-goals-assessment-page .goals-assessment-view .assessment-rating {
  padding: 1em 0em;
}

.h5p-goals-assessment-page .goals-assessment-view .assessment-rating .rating-container {
  display: inline-block;
  padding: 0em 1em;
  vertical-align: top;
  max-width: 30%;
}

.h5p-goals-assessment-page .goals-assessment-view .assessment-rating span.rating-text {
  display: block;
}
